.thead_internal {
  background-color: #ff857a;
}

.thead_external {
  background-color: #88cffb;
}

.tcolumn_internal {
  background-color: #F5B7B1;
}

.tcolumn_external {
  background-color: #D4E6F1;
}
